# UnrealEngine HTML5 ES3 (WebGL2)

## Test Report

Most recent test run completed on **2023-08-29** for a release with emscripten 3.1.45

## VS2022

Windows 10
Git for Windows: **2.42.0**
CMake: **3.27.4**
Python: **3.11.5**
Visual Studio 2022: **17.7.2**
Visual Studio toolchain: **14.37.32822**
Windows 10 SDK: **10.0.20348.0**

### ES3 branch

Built regularly and deployed https://adhoccombat.com and ran in Chromium and/or Firefox.

### ES2 branch

Built FirstPerson project in Development and ran in Chromium and tested multiplayer. 
Built FirstPerson project in Shipping and ran in Chromium .
Built FirstPerson project in Development multithreaded and ran in Chromium.

## VS2019

Windows 10
Git for Windows: **2.42.0**
CMake: **3.27.4**
Python: **3.11.5**
Visual Studio 2019: **16.11.29**
Visual Studio toolchain: **14.29.30151**
Windows 10 SDK: **10.0.18362.0**

### ES3 branch

Built FirstPerson project in Development and ran in Chromium and tested multiplayer. 
Built FirstPerson project in Shipping and ran in Chromium.
Built FirstPerson project in Development multithreaded and ran in Chromium.